.top-box {
  background: linear-gradient(
    90deg,
    var(--background-1) 0%,
    var(--background-2) 100%
  );
  position: relative;
  overflow: hidden;
  padding-bottom: 125px;
  border-radius: 0 0 0 62px;

  .bg-desktop-intro {
    position: absolute;
    right: -1390px;
    top: -1335px;
    z-index: 1;
  }

  .content {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    gap: 40px;

    h1 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 63px;
      font-weight: 500;
      line-height: 72px;
      letter-spacing: -0.045em;
      color: var(--white);
    }

    p {
      font-family: 'Overpass', sans-serif;
      font-size: 20px;
      font-weight: 300;
      line-height: 25px;
      letter-spacing: -0.005em;
      color: var(--white);
    }

    .btn-box {
      display: flex;
      gap: 20px;

      .btn-start {
        width: 139px;
        height: 49px;
        background: var(--white);
        border-radius: 24px;
        border: none;
        outline: none;
        cursor: pointer;

        color: var(--light-red);
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        font-size: 1rem;

        transition: all ease 0.2s;

        &:hover {
          background: var(--very-light-red);
          color: var(--white);
        }
      }

      .btn-learn {
        width: 139px;
        height: 49px;
        background: none;
        border-radius: 24px;
        border: 1px solid var(--white);
        outline: none;
        cursor: pointer;

        color: var(--white);
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        font-size: 1rem;

        transition: all ease 0.2s;

        &:hover {
          background: var(--white);
          color: var(--light-red);
          border: none;
        }
      }
    }
  }
}
