* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-red: #ff525d;
  --very-light-red: #ff7a85;
  --very-dark-blue: #1f3f5b;

  --white: #ffffff;
  --grayish-blue: #c8c8cb;
  --light-grayish-blue: #efeff1;
  --very-dark-grayish-blue: #4b5862;
  --very-dark-black-blue: #25252d;

  --background-1: #ff8f70;
  --background-2: #ff3d54;

  --background-3: #2c2d3f;
  --background-4: #3f4164;
}
