.nav-box {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;

  .left-box {
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    gap: 35px;

    .logo {
      height: fit-content;
      width: 100px;
    }

    .links-nav-box {
      display: flex;
      gap: 20px;
      color: var(--white);

      .link-nav {
        display: flex;
        position: relative;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        .arrow {
          height: fit-content;
          width: 10px;
        }

        .invert-arrow {
          transform: rotate(180deg);
        }

        .dropdown1 {
          bottom: -180px;
          left: -15px;
        }

        .dropdown2 {
          bottom: -150px;
          left: -15px;
        }

        .dropdown3 {
          bottom: -120px;
          left: -15px;
        }

        .dropdown {
          display: flex;
          flex-direction: column;
          padding: 20px;
          background-color: #fff;
          border-radius: 4px;
          position: absolute;
          gap: 12px;
          box-shadow: 0px 0px 19px 1px #00000026;
          min-width: 140px;

          transition: all ease 0.15s;

          a {
            color: var(--very-dark-black-blue);
            font-weight: 300;

            &:hover {
              font-weight: 700;
            }
          }
        }

        .is-hidden {
          opacity: 0;
        }
      }
    }
  }

  .right-box {
    display: flex;
    margin-top: 50px;
    margin-right: 100px;
    align-items: center;
    gap: 20px;

    .login-btn {
      background: none;
      outline: none;
      border: none;
      color: var(--white);

      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      font-size: 1rem;
    }

    .sign-btn {
      width: 139px;
      height: 49px;
      background: var(--white);
      border-radius: 24px;
      border: none;
      outline: none;
      cursor: pointer;

      color: var(--light-red);
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      font-size: 1rem;

      transition: all ease 0.2s;

      &:hover {
        background: var(--very-light-red);
        color: var(--white);
      }
    }
  }

  @media (max-width: 768px) {
  }
}
